extends layout

block content
    h1= title

    - let id = toShow._id
    - let Dumbell_brand = toShow.Dumbell_brand
    - let Dumbell_material = toShow.Dumbell_material
    - let Dumbell_weight = toShow.Dumbell_weight

    div
      div.row
        div(class='dumbellAttr mr-3') dumbell ID is:
        div #{id}
      div.row
        div(class='dumbellAttr mr-3') dumbell brand is:
        div #{Dumbell_brand}
      div.row
        div(class='dumbellAttr mr-3') dumbell material is:
        div #{Dumbell_material}
      div.row
        div(class='dumbellAttr mr-3') dumbell weight is:
        div #{Dumbell_weight}