extends layout

block content
  h1= title
  - var results = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in results  
        - let destination = `dispatch(\"/dumbell/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.Dumbell_brand}(#{item.Dumbell_material}) is #{item.Dumbell_weight}
          button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }